<div>
    <div class="menu">
        <img class="img-menu" src="../../../assets/employee.png" [routerLink]="['/lista-funcionario']" routerLinkActive="router-link-active"  title="Clique aqui para criar ou editar um funcionário" alt="C" />
        <img class="img-menu" src="../../../assets/tools.png" [routerLink]="['/lista-ferramenta']" routerLinkActive="router-link-active"  title="Clique aqui para criar ou editar uma ferramenta" />
        <img class="img-menu" src="../../../assets/negociacao.jpeg" [routerLink]="['/lista-emprestimo']" routerLinkActive="router-link-active"  title="Clique aqui para pegar uma ferramenta como empréstimo" />
    </div>
</div>