.btn-success {
    background-color: #26C480;
    color: #FFF;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 2px;
    font-family: "Goldplay Medium";
    font-size: 15px;
}

.btn-danger {
    background-color: #b51a12;
    color: #FFF;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 2px;
    font-family: "Goldplay Medium";
    font-size: 15px;
}

.btn-success:hover {
    background-color: #1e9964;
}

